.settings
.cproject
.project
.dirstamp
src/*.o
src/*.lo
src/*.la
src/.libs
test/*.o
test/*.lo
.deps
Makefile
config.h
config.log
config.status
libtool
src/Makefile
stamp-h1
test/Makefile
test/test-dirtree
test/test-fs-watch
test/test-http-client
test/test-http-server
test/test-http-thread
test/test-timer
test/test-utils
test/test-proc-stat
data
ch-cpp-utils-0.0.1.tar.gz
ch-cpp-utils-0.0.1/
ch-cpp-utils-dbgsym_0.1_amd64.ddeb
ch-cpp-utils_0.0.1.orig.tar.xz
ch-cpp-utils_0.1.dsc
ch-cpp-utils_0.1.tar.gz
ch-cpp-utils_0.1_amd64.buildinfo
ch-cpp-utils_0.1_amd64.changes
ch-cpp-utils_0.1_amd64.deb

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


autom4te.cache
build-aux
config.h.in~
m4
aclocal.m4

Makefile.in

.vscode
test/log
lo
